{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trains</title>
        <link rel="stylesheet" href="{% static 'myapp/css/train_search_style.css' %}">
</head>
<body>

<div class="background-blur">

<div class="search-container">

    {% if show_form %}
        <div class="search-card">
            <h2>Search Trains</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Search</button>
            </form>
        </div>
    {% endif %}

    {% if full_train is not None %}
        <div class="result-card">
            <h2>Trains Available</h2>

            {% if full_train %}
                <table>
                    <tr>
                        <th>train no.</th>
                        <th>train name</th>
                        <th>departure time</th>
                        <th>arrival time</th>
                    </tr>
                
                {% for train in full_train %}
                
                    
                    <!-- <br/>
                    <br/> -->
                    <tr>
                        <td>{{ train.0 }}  </td>
                        <td>{{ train.1 }}  </td>
                        <td>{{ train.2 }}  </td>
                        <td>{{ train.4 }}  </td>
                        <td rowspan="2"><a class="book-btn"  href="{% url 'myapp:book_train' train.6 train.7 train.8 journey_date %}">BOOK</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>{{ train.3 }}  </td>
                        <td>{{ train.5 }}  </td>
                        <td></td>
                    </tr>
                    <!-- <br/>
                    <br/> -->
                    
                {% endfor %}
                </table>
            {% else %}
                <p> "No Trains Available !" </p>
            {% endif %}
            </div>
    {% endif %}



</body>
</html>