.nav-link {
    margin-right: 30px;
}

@media (min-width: 992px) {
    .dropdown-menu[data-bs-popper] {
        right: 0; 
        left: auto;
    }
}

/* Fix navbar spacing */
.navbar-nav .nav-item {
    margin-right: 30px;
}

@media (max-width: 992px) {
    .navbar-nav .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.navbar-brand span {
    margin-left: 10px;
}


body {
    padding-top: 70px;
}

.custom-carousel-container {
  max-width: 80%;       /* or use % like 90% for responsiveness */
  margin: 50px auto;      /* centers horizontally and adds top margin */
  border-radius: 20px;
  overflow: hidden;       /* ensures curved corners clip the images */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* optional shadow */
}

.carousel-item img {
  width: 100%;
  height: 70vh;
  max-height: 500px; /* cap the height for large screens */
  object-fit: cover;
  display: block;
}




